@model IEnumerable<MusicStoreEntity.Order>
@using MusicStoreEntity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_newLayout.cshtml";
}
<fieldset>

    <legend>我的订单</legend>
    <div class="table-responsive ">
        <table class="table table-bordered table-hover">
            <thead> <tr style="background-color:gray; color:white;"><th>订单摘要</th><th>明细</th><th>总价</th><th>状态</th><th>操作</th></tr></thead>

            @foreach (var l in Model)
            {

                <tbody id="tbCart">
                    <tr>

                        <td style="line-height:30px;">

                            订单号： @l.TradeNo<br />
                            收件人： @l.AddressPerson<br />
                            收货地址： @l.Address<br />
                            收件人电话： @l.MobiNumber<br />
                        </td>
                        <td style="line-height:100px;">
                            @foreach (var i in l.OrdelDetails)
                            {
                                <p>专辑名： @i.Album.Title  &nbsp;<br /> 共 @i.Count 张</p>
                            }
                        </td>
                        <td style="line-height:100px;color:red;">@l.TotalPrice.ToString("C")</td>
                        <td style="line-height:100px;">
                            @l.EnumOrdelStatus
                        </td>
                        <td>
                            @if (l.EnumOrdelStatus == EnumOrdelStatus.未付款)
                            {
                                <a style="color: white;width:60%" class="btn btn-success" href="@Url.Action("alipay","Pay",new {id= l.ID})"><i class="glyphicon glyphicon-usd"></i>立即支付</a>
                               

                                foreach (var m in l.OrdelDetails)
                                {
                                    <button class="btn btn-success"onclick="OrderDel('@l.ID','@m.ID')"> 删除订单 </button>
                                }
                            }
                        </td>
                    </tr>
                </tbody>
            }


        </table>

    </div>
    <script>
        function OrderDel(id, Detid) {

            $.ajax({
                type: 'post',
                async: true,
                url: "../../Order/OrderDel",
                data: { id: id, "Detid": Detid },
                dataType: 'json',
                success: function (data) {
                    //视图中进行局部页面的刷新<tbody>
                    $("#tbCart").html(data);
                }
            });
        }
    </script>
</fieldset>